.head {
  text-align: center !important;

a {
  color: #59B030;
  text-decoration: none !important;
  font-size: 18px;
  padding: 6px !important;
  display: inline-block;
}
}

.sign-up {
  box-sizing: border-box;
  border: solid #6BCA3F 10px ;
  width: max-content !important;
  border-radius: 10px;
}

.sign-in {
  box-sizing: border-box;
  border: solid #6BCA3F 10px ;
  width: max-content !important;
  border-radius: 10px;
  font-size: 18px;
  padding-bottom: 12px;
}
