
<div class="navbar">
  <div class="container-fluid">
     <% if user_signed_in? %>
      <div class="log-out"><%= link_to 'Se déconnecter', destroy_user_session_path %></div>
    <% end %>
  </div>
</div>
